@using H.Necessaire.Runtime.UI.Razor.Styles
@using H.Necessaire.Runtime.UI.Razor
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["main.css"]" /> *@
    <HStyles RenderAppIcon=true />
    <link rel="apple-touch-icon" href="@Assets["AppIcon/apple-touch-icon.png"]" sizes="180x180" />
    <link rel="icon" type="image/png" href="@Assets["AppIcon/favicon-32x32.png"]" sizes="32x32" />
    <link rel="icon" type="image/png" href="@Assets["AppIcon/favicon-16x16.png"]" sizes="16x16" />
    <link rel="manifest" href="@Assets["AppIcon/site.webmanifest"]" />
    <link rel="stylesheet" href="@Assets["RoVFR.Showcase.Website.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>

    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <HScripts />
</body>

</html>
